# 빌드 디렉터리 (Maven, Gradle 등)
target/

# Eclipse/STS 설정 파일
.settings/
.classpath
.project

# Maven Wrapper 관련 디렉터리
.mvn

# OS 관련 파일 (Mac)
.DS_Store

# 로그 파일
*.log

# 바이너리 및 컴파일된 파일
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA 관련 파일
.idea/
*.iml
